<div class="pop_over_header">
  <h3>Change Due Date</h3>
</div>
<div class="pop_over_body">
  <div>
    <input type="text" class="date_format">
  </div>
  <div class="date_picker"></div>
  <div class="date_actions">
    <a href="#" class="button save_date">Save</a>
    <a href="" class="button remove_date">Remove</a>
  </div>
</div>