<div>
  <h2></h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Facilis explicabo, labore doloremque voluptatibus officiis cum cumque accusantium?
    Perspiciatis delectus at veniam sapiente reprehenderit fugit sint.
    Cupiditate repellendus, commodi ullam modi.</p>
</div>