<div class="pop_over_header">
  <h3>Labels</h3>
</div>
<div class="pop_over_body">
  <ul class="color_list">
    <li class="green"><span {{#ifIn "green" labels}}class="fa fa-check"{{/ifIn}}></span></li>
    <li class="yellow"><span {{#ifIn "yellow" labels}}class="fa fa-check"{{/ifIn}}></span></li>
    <li class="orange"><span {{#ifIn "orange" labels}}class="fa fa-check"{{/ifIn}}></span></li>
    <li class="red"><span {{#ifIn "red" labels}}class="fa fa-check"{{/ifIn}}></span></li>
    <li class="purple"><span {{#ifIn "purple" labels}}class="fa fa-check"{{/ifIn}}></span></li>
    <li class="blue"><span {{#ifIn "blue" labels}}class="fa fa-check"{{/ifIn}}></span></li>
  </ul>
</div>