<div class="edit_card">
  <div class="form">
    <textarea>{{title}}</textarea>
    <a href="#" class="button save">Save</a>
  </div>
  <div class="edit_actions">
    <a href="#"><span class="fa fa-flag-o"></span>Edit Labels</a>
    <a href="#"><span class="fa fa-long-arrow-right"></span>Move</a>
    <a href="#"><span class="fa fa-copy"></span>Copy</a>
    <a href="#"><span class="fa fa-clock-o"></span>Change Due Date</a>
    <a href="#"><span class="fa fa-trash-o"></span>Remove</a>
  </div>
</div>