<h2>{{list.title}}</h2>
<ul>
</ul>
<a href="#" class="add_card">Add a card...</a>
<div class="new_card">
  <textarea class="add_new"></textarea>
  <a href="#" class="button add">Add</a>
  <a href="#" class="button cancel fa fa-close fa-2x"></a>
</div>