<a href="#" class="add_a_list">Add a list...</a>
<div class="form" style="display: none;">
  <input type="text">
  <div>
    <a href="#" class="button save">Save</a>
    <a href="#" class="button close"><span class="fa fa-close"></span></a>
  </div>
</div>