@import 'https://fonts.googleapis.com/css?family=Roboto'
@import "whitespace-reset.css"
@import "font-awesome.min.css"
font_size = 14px
font_color = #4d4d4d
button_color = #5bae45

button()
  background: button_color
  border-radius: 4px
  color: #fff
  font-weight: bold
  text-align: center

textarea()
  display: block
  width: 100%;
  resize: none
  box-sizing: border-box
  height: 80px
  border: none
  border-radius: 4px
  box-shadow: 0px 1px 1px #ccc
  outline: none
  padding: 10px
  margin-bottom: 10px
  font: normal normal 14px "Roboto", Arial, Helvetica, sans-serif
  color: inherit
html
  min-height: 100%
  position: relative
  min-width: 100%
body
  font: normal normal font_size "Roboto", Arial, Helvetica, sans-serif
  color: font_color
  height: 100%
  width: 100%
  .search
    display: none
    position: absolute
    top 45px
    left: 17px
    padding: 10px
    background: #E2E4E6
    width: 400px
    li
      margin-top: 10px
      padding: 10px
      background: #fff
      border-radius: 4px
      box-shadow: 0px 1px 1px #ccc
  #main
    width: 100%
    padding: 20px
    white-space: nowrap
    margin-top: 40px
    &:after
      content: ""
      display: block
      clear: both
    h1
      font-size: 18px
      margin-bottom: 20px
  a
    text-decoration: none
    color: #000;
.list
  background: #E2E4E6
  width: 300px
  border-radius: 4px
  display: inline-block
  vertical-align: top
  margin: 0 15px 15px 0
  position: relative
  input.edit_list
    display: none;
    width: 240px
    padding: 5px 8px
    border: 0
    margin: 10px 0 10px 10px
    border-radius: 4px
    &:focus
      outline: none
  .options
    position: absolute
    top: 5px
    right: 5px
    padding: 5px 8px 5px 8px
    border-radius: 3px
    &:hover
      background: #ccc
    input.edit_list
      display: block
  .new_card
    display: none
    padding: 0 10px 10px 10px
    textarea
      textarea()           
  &.add_mode
    .add_card
      display: none
    .new_card
      display: block
  
  .button
    display: inline-block
    &.add
      width: 50px
      button()
      margin-right: 5px
    &.cancel
      vertical-align: middle
      &:hover
        color: #333
        background: transparent
    
  ul
    padding: 0 10px 0 10px
    .sort_placeholder
      background: #ccc
      margin-bottom: 8px
      border-radius: 4px
  h2
    font-size: 16px
    padding: 10px
  a
    display: block
    color: #888
    padding: 10px
    border-radius: inherit
    &:hover
      background: #CDD2D4

// Card Styles
li.card
  padding: 10px
  background: #fff
  box-sizing: border-box
  margin-bottom: 8px
  border-radius: 4px
  box-shadow: 0px 1px 1px #ccc
  cursor: pointer
  position: relative
  .info
    span
      margin-top: 10px
      display: inline-block
      padding: 0 5px
      color: #bbb
      vertical-align: middle
      &.date
        border-radius: 3px
        color: #fff
        margin-right: 10px
        i
          margin-right: 5px
  & > span.fa-pencil
    position: absolute
    top: 5px
    right: 5px
    padding: 5px 8px
    border-radius: 4px
    visibility: hidden
    &:hover
      background: #e0e0e0
  &:hover
    background: #eee
    span
      visibility: visible

.placeholder
  background: #ccc

// header styles
#header
  background: #026AA7
  height: 40px
  padding: 5px 8px
  box-sizing: border-box;
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 3
  .menu_elem
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0, rgba(255, 255, 255, 0.3) 100%)
    height: 30px
    vertical-align: middle
    display: inline-block
    box-sizing: border-box
    padding: 8px 10px
    border-radius: 3px
    &:hover
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0, rgba(255, 255, 255, 0.3) 100%)
  #search
    width: 180px
    border: none
    margin-left: 10px
    &::-webkit-input-placeholder
      color: #fff
  .button
    font-weight: bold
    color: #fff

.edit_overlay, .modal_overlay
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 5
  background: rgba(0, 0, 0, 0.6)
.edit_overlay
  .edit_card
    position: absolute
    z-index: 10
    width: 435px
    .form
      float: left
      textarea
        textarea()
        height: 120px
        width: 280px
      .save
        button()
        padding: 8px 20px
        display: inline-block
    .edit_actions
      float: right
      a
        background: rgba(10, 10, 10, .7)
        color: #fff
        width: auto
        padding: 8px
        border-radius: 4px
        display: block
        margin-bottom: 5px
        span
          margin-right: 10px
.pop_over
  display: none
  position: absolute
  padding: 15px
  z-index: 11
  background: #fff;
  &.is_shown
    display: block
  .pop_over_header
    border-bottom: 1px solid #ccc 
    padding: 0 0 10px 0
    h3
      text-align: center
  .pop_over_body
    padding: 10px 0 10px 0
  ul
    list-style: none
    &.color_list
      li
        height: 30px
        width: 220px
        margin-top: 5px
        border-radius: 4px
        position: relative
        color: #fff
        cursor: pointer
        span
          position: absolute
          top: 7px
          right: 7px

// colors

.labels
  span
    display: inline-block
    width: 40px
    height: 8px
    border-radius: 4px
    margin-bottom: 5px

.green
  background: #61bd4f
.yellow
  background: #f2d600
.orange
  background: #ffab4a
.red
  background: #eb5a46
.purple
  background: #c377e0
.blue
  background: #0079bf

// date picker

input.date_format
  width: 120px
  height: 35px
  border-radius: 4px
  background: #eee
  border: 1px solid #ccc
  &:hover, &:focus
    border: 1px solid blue
    background: #fff
.ui-datepicker
  margin-top: 20px
  height: auto
  table
    width: 100%
    border-collapse: collapse
    border: 1px solid #bbb
    margin-bottom: 10px
    tr
      border-bottom: 1px solid #bbb
    tbody tr:last-child
      border-bottom: 0px
    td, th
      text-align: center
      padding: 0
      margin: 0
      width: 35px
      height: 30px
      border-right: 1px solid #bbb
    td:last-child
      border-right: 0px
    th
      background: #f4f5f6
      height: 25px
    td:hover
      background: #bbb
    td a
      display: inline-block
      width: 100%
      height: 100%
      padding-top: 7px

.ui-datepicker-header
  margin-bottom: 5px
  a
    text-decoration: underline
    cursor: pointer
.ui-datepicker-title
  text-align: center
.ui-datepicker-prev
  float: left
.ui-datepicker-next
  float: right
.ui-datepicker-month, .ui-datepicker-year
  cursor: pointer

.save_date
  button()
  width: 70px
  float: left
  padding: 8px 15px  

.remove_date
  button()
  width: 70px
  padding: 8px 15px
  float: right
  background: #bababa
  color: #f41a12

// modal styles

.modal
  z-index: 10
  display: block
  position: absolute
  top: 20px
  width: 700px
  height: 600px
  left: 50%
  margin-left: -300px
  background: #efefef
  border-radius: 4px
  padding: 20px
  overflow: auto
  .main
    float: left
  h1
    font-size: 20px
    padding-bottom: 10px
  h2
    padding-bottom: 10px
    font-size: 18px
  section
    margin-top: 10px
  div,header
    padding: 20px 0
  header
    padding-top: 0
  textarea
    textarea()
    width: 450px
  .cmnt_send
    button()
    display: inline-block
    padding: 8px 30px
    cursor: pointer
    &.disabled
      color: black
      background #ccc
      cursor: default
  .modal_labels
    span, a.add_labels
      display: inline-block
      width: 45px
      height: 30px
      border-radius: 4px
      vertical-align: middle
    a.add_labels
      box-sizing: border-box
      padding: 8px 0 0 15px
      background: #e4e4e4
      color: #c0c0c0
      &:hover
        background: #c0c0c0
        color: #b0b0b0
  .description_area
    .save_description
      button()
      display: inline-block
      padding: 8px 20px
      margin-right: 10px
      vertical-align: middle 
    .cancel
      font-weight: normal
      vertical-align: middle
  .modal_comments
    ul
      margin-top: 10px
      li
        padding-top: 10px
        span
          display: inline-block
          width: auto
          padding: 8px
          border-radius: 4px
          background: #fff
  .panel
    width: 140px
    float: right
    a
      display: block
      padding: 10px
      font-weight: bold
      background: #fff
      border-radius: 3px
      box-shadow: 0px 1px 1px #ccc
      margin-bottom: 10px
      &:last-child
        margin-bottom: 0

// new list styles
.new_list
  display: inline-block
  width: 300px
  box-sizing: border-box
  padding: 5px
  background: #e2e4e6
  vertical-align: top
  margin-right: 20px
  border-radius: 4px
  a.add_a_list
    padding: 6px
    height: 40px
    border-radius: 4px
    display: block
    box-sizing: border-box
    width: 100%
    background: rgba(50, 50, 50, .5)
    color: #fff
  .form
    input
      padding: 5px
      height: 40px
      border-radius: 4px
      border: none
      display: block
      box-sizing: border-box
      width: 100%
      margin-bottom: 12px
      &:focus
        outline: none
    .save
      display: inline-block
      button()
      padding: 8px 15px
      margin-right: 20px

//move and copy styles
#list_select
  padding: 8px
  button()
  margin-bottom: 20px
  cursor: pointer

#position_select
  padding: 8px
  width: 50px
  button()
  margin-left: 10px
  cursor: pointer

.button.move, .button.copy
  margin-top: 20px
  button()
  display: inline-block
  padding: 6px 12px

option
  background: #fff
  color: #222
  cursor: default

.ui-sortable-placeholder
  border-radius: 4px
  background: #ccc
.ui-sortable-helper
  transform: rotate(10deg)